* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
  font-family: "Poppins", sans-serif;
  color: #c2c2c2;
  padding: 1rem;
}

a {
  color: #c2c2c2;
  text-decoration: none;
  transition: all 200ms;
}

button {
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0 10px 0 0;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

button:hover {
  cursor: pointer;
  background-color: #a0a0a0;
}

.blueButton {
  background-color: rgb(144, 146, 255);
}

.redButton {
  background-color: rgb(255, 107, 107);
}

.greenButton {
  background-color: rgb(98, 179, 81);
}

@media (max-width: 780px) {
    button {
      margin: 10px 5px 0 0;
    }

    .onlyIcon {
      display: none;
    }

    .hidden {
      display: none;
    }
}

@media (max-width: 500px) {
  .hiddenCategory {
    display: none;
  }
}

@media (max-width: 455px) {
  button {
    padding: 5px 7.5px;
  }

  th, td {
    font-size: 15px;
    padding: 3px
  }

  .hiddenCategory {
    display: none;
  }
}

@media (max-width: 415px) {
  th, td {
    font-size: 12px;
  }

  button {
    padding: 0 5px;
    height: 35px;
  }
}
